<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table border="2">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Last name</td>
            <td>Age</td>
            <td>Username</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getUserName()}"></td>
                <td th:text="${user.getRoles()}"></td>
                <td>
                    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
                    <a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <br/>
    <a href="/admin/add" class="add">Create new User!</a>
</div>
</body>
</html>